@page
@model TarkovStats.Pages.RecordRaid


<form method="post">
    <div class="card">
        <div id="map-header" class="card-header">
            1) Map
            <span id="map-info" class="map-info p-lg-3">You can press the number show on the map to select it.</span>
        </div>
        <div class="card-body">
            <div id="maps">
                @{
                    int i = 1;
                }
                @foreach (var map in Model.Maps)
                {
                    <div class="map-selector radio-by-number">
                        <input id="map-@map.Map" asp-for="Input.Map" type="radio" value="@map.Map">
                        <label class="form-check-label map-label" for="map-@map.Map">
                            <span class="box-number">@(i++)</span>
                            <img src="@map.ImageUrl"/>
                            <div class="map-name">
                                <span>@map.Display</span>
                            </div>
                        </label>

                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header" id="stat-header">
            2) Stats
        </div>
        <div class="card-body">
            <div class="row g-2">
                <div class="form-group col-md-3">
                    <label class="form-label" asp-for="Input.ExpTotal">Total EXP</label>
                    <input class="form-control stat" asp-for="Input.ExpTotal"/>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label" asp-for="Input.MinLength"></label>
                    <input class="form-control stat" asp-for="Input.MinLength"/>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Input.PmcKills" class="form-label"></label>
                    <input asp-for="Input.PmcKills" class="form-control stat">
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Input.ScavKills" class="form-label"></label>
                    <input asp-for="Input.ScavKills" class="form-control stat">
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header" id="result-header">
            3) Result
        </div>
        <div class="card-body">
            <div class="raid-res-holder">
                @{
                    i = 1;
                }
                @foreach (var res in Model.Results)
                {
                    <div class="raid-res res-@res radio-by-number">
                        <input id="res-@res" asp-for="Input.RaidResult" type="radio" value="@res" class="result"/>
                        <label class="form-check-label" for="res-@res">
                            <div class="box-number">@(i++)</div>
                            <div class="res-text">
                                <span class="res-icon"></span>
                                @res
                            </div>
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
    <button class="btn btn-success mt-2">Record</button>
</form>

@section Scripts
{
    <script type="text/javascript">
   
const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }});
</script>

    @if (Model.HasMessage)
    {
        <script type="text/javascript">
        Toast.fire({
          icon: '@(Model.MessageError ? "error" : "success")',
          title: '@Model.Message'
        })
        </script>
    }
}