@page "{currentPage:int?}"
@model TarkovStats.Pages.Show

<h4>Raids</h4>
<form method="post">
    <table class="table table-striped table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Recorded</th>
            <th>Map</th>
            <th>PMC Kills</th>
            <th>Scav Kills</th>
            <th>EXP</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var raid in Model.RaidsList)
        {
            <tr>
                <td>@raid.Id</td>
                <td>@raid.EnteredAt.ToString("g")</td>
                <td>@raid.Map</td>
                <td>@raid.PmcKills</td>
                <td>@raid.ScavKills</td>
                <td>@raid.TotalEXP</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Sorry Next Update!">Edit</button>
                    <button class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@raid.Id" onclick="confirmDelete(event)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>
<partial name="Shared/_PagedResponsePager" model="Model.RaidsList.Metadata"/>